 html, body {
    margin: auto;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
  }
  
  nav {
    padding: 15px 30px 15px 30px;
    background-color: #151965;
  }
  
  nav  a {
    font-weight: bolder;
    text-decoration: none;
    color: #ffffff;
  }
  
  nav ul {
    float: right;
    margin: auto;
    padding: 0px;
    
  }
  
  nav ul li {
    display: inline-block;
    margin: 0 10px 0 10px;
  }
  
  main {
    margin: 30px;
  }
  
  article h1 {
    color: #32407b;
    font-size: 45px;
    text-transform: capitalize;
    font-weight: bolder;
  }
  
  article p {
    word-spacing: 5px;
    line-height: 1.4;
    font-size: 18px
  }
  
  footer {
    position: absolute;
    bottom: 0;
    background-color: #151965;
    width: 100%;
  }
  
  footer p {
    color: #ffffff;
    text-align: center;
  } 